.four {
  width: 1920px;
  height: 100vh;
  /* background: url('../img/three/boxBg.png') left 104px top 40px no-repeat; */
  /* background-size: 1712px 710px; */

  .fourFlag {
    .leftFlag {
      position: relative;
      left: 160px;
      height: 48px;
      width: 48px;
    }

    .text {
      width: 167.61px;
      height: 50.02px;
      margin-left: 200px;
    }
  }

  .fourFlag:hover {
    cursor: pointer;
  }

  .fourSlide {
    .slide {
      width: 496px;
      height: 11px;
      position: absolute;
      left: 196px;
      top: 320px;
      /* margin-bottom: 50px; */
    }
  }
}